


body{
    font: 20px arial, sans-serif;
}
.navbar{
    background-color: #76D7C4;
}

.quem-somos{
    background-color: #6495ED;
}

.margin{
    padding-top: 10px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #EBDEF0;
}