


body{
    font: 20px arial, sans-serif;
}
.navbar{
    background-color: #76D7C4;
}

.quem-somos{
    background-color: #6495ED;
}

.margin{
    padding-top: 10px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #EBDEF0;
}

h2{
    text-align: center;
    padding: 10px;
}

.servicos{
    background-color: #F9E79F;
}

h3{
    text-align: center;
    padding: 10px;
}

p{
    text-align: justify;
    font-size: 14px;
}

.bg-footer{
    background-color: #808B96;
    color: white;
}
p.footer{
    text-align: center;
    padding: 40px;
}